Repository HYF-Class21/agile-development-group4-all-about-trees, pull requests merged in 2023-04, with the labels that each got.

#3 Update-Constraints -file
  planning/constraints.md
Labels: md

#4 initial commit for backlog
  planning/backlog.md
Labels: Initial PR for backlog

#23 created first draft of the development strategy
  planning/development-strategy.md
Labels: md

#18 Add-Design-File
  public/wire-frame-tree.png
Labels: md

#22 Setup. Created boilerplate html and empty css
  pages/all-about-trees.html
  styles/all-about-trees.css
Labels: css, html

#17 edited markdown at backlog
  planning/backlog.md
Labels: md

#28 added html for introduction
  index.html
Labels: html

#30 added css for intro
  styles/index.css
Labels: css

#32 added html for additional info
  index.html
Labels: html

#34 adeed css to additional info
  styles/index.css
Labels: css

#41 added navigation css
  styles/index.css
Labels: css

#36 added navigation bar
  index.html
Labels: html

#44 added extra-links html
  index.html
Labels: html

#45 added extralinks css
  styles/index.css
Labels: css

#47 Add-title
  index.html
Labels: html

#49 added html for Main info
  index.html
Labels: html

#51 added social links
  index.html
Labels: html

#52 added sociallinks css
  styles/index.css
Labels: css

#56 Add-Header-CSS
  styles/index.css
Labels: css

#57 added retrospective for our project
  planning/retrospective.md
Labels: md

#58 fixing not bouncing trees
  styles/index.css
Labels: bug

#60 updated README
  README.md
  public/de-sign.png
  public/tr-ee.jpeg
Labels: md

#61 Add retrospective
  planning/retrospective.md
Labels: md

#53 added picture
  assets/happy-tree.jpg
  pages/all-about-trees.html
  styles/all-about-trees.css
Labels: bug

#63 Update-Readme
  README.md
Labels: md
